* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(145deg, #380036, #0cbaba);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8%;
}

.image {
  text-align: center;
  margin-top: -9%;
}

.text-content {
  text-align: center;
  font-family: "Nunito", sans-serif;
  color: #fff;
}

.text-content h2 {
  font-size: 28px;
}

.text-content p {
  font-size: 16px;
}

.container {
  background-color: red;
  width: 640px;
  border-radius: 35px;
  background: rgba(126, 123, 123, 0.41);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid rgba(27, 27, 27, 0.26);
  padding-bottom: 2%;
}

.links ul {
  list-style-type: none;
}

.links li {
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  margin-top: 2%;
  padding: 2%;
  width: 500px;
  height: 70px;
  margin-left: 10%;
  background: #687a83;
  border-radius: 30px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: 0.2s;
  cursor: pointer;
}

li:hover {
  filter: brightness(120%);
}

.icon {
  flex: 1;
  opacity: 0.8;
}

.name {
  flex: 1.3;
}

a {
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-size: 21px;
  color: #fff;
}

/* MEDIA QUERIES */

@media screen and (max-width: 540px) {
  .container {
    width: 400px;
  }

  li {
    width: 350px;
    margin-left: 5%;
  }

  .image img {
    width: 120px;
    height: 120px;
  }
}
